


.site-heading {
  font-family: $headingFont;
  font-size: 36pt;
  color: #000;
  font-weight: "bold";
  text-decoration: "none";
  display:inline; padding-left:10px;
}

.para-heading {
  font-family: $headingFont;
  color: #f77;
  font-weight: 400;
  text-decoration: "none";

  h1 {font-size: 28pt;}
  h2 {font-size: 24pt;}
  h3 {font-size: 20pt;}
}


.para-text {
  font-family: $paraFont;
  font-size:12pt;
  color: black;
  font-weight: 300;
  text-decoration: "none";
}


#site-navbar {
  font-family: $menuFont;
  background-color: $color-primary;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  color: yellow; font-weight: 600; font-size:16pt;
}



