$color-primary: #fcc;

@import url('https://fonts.googleapis.com/css?family=Chewy|Happy+Monkey|Sniglet&display=swap');

$headingFont: 'Chewy', cursive;
$menuFont: 'Sniglet', cursive;
$paraFont: 'Happy Monkey', cursive;

